  <video id="bgvid" playsinline autoplay muted loop>
          
          <source src="https://static.videezy.com/system/resources/previews/000/007/006/original/MR8_8170.mp4" type="video/webm">
        
              </video>






              <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                   
                      <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav  navbar-right ">
                          <li class="active"><a href="#.Home">Home</a></li>
                          <li><a class="page-scroll" href="#Members">Members</a></li>
                          <li><a  href="#nextBox">Adminatrative</a></li>
                          <li><a href="#contact">Contact</a></li>
                          
                      
                        </ul>
                      </div>
                    </div>
                  </nav>
                     <div class="section">
                       <h1 class="list">WELCOME TO NE GYM</h1>
                       <h2 class="text-center">Become The Person You Want To Be</h2>
                        
                        </div> 
                        <div id="Members" class="container-fluid">
                          <h2>Members</h2>
                          <p class="set"> Something about memebers</p>
                  {{login}}
                  <p> </p>
                        </div>
                         <div id="nextBox" class="container-fluid">
                           <h3 class="second"></h3><br>
                    <div class="row">
                      <div class="col-sm-3">
                        <p>Adminatrative</p>
                         <img src="https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Fitness/Articles/Twice+a+Day/man+working+out-carousel.jpg" class="img-responsive" style="width:100%" alt="Image">
                      </div>
                      <div class="col-sm-3">
                         <img src="https://res.cloudinary.com/classpass/image/upload/f_auto,q_auto/t28qtoypflj8971yyv2e.png" class="img-responsive" style="width:100%" alt="Image">
                      </div>
                        </div>
                           <div id="contact" class="container-fluid">
                        
                         <div class="row">
                     <div class="col-lg-8 col-lg-offset-2">
                                               <h1 class="con">CONTACT US</h1>

                                           {{signup}}
                                           
                                       </div>
                                       </div>
                                       
                           </div>
                       
                                                  
                                                  
                      

    


      


