<H1>Memberships</H1>
{{user.memberLvl}}

<form action="" method="POST">
  <select name="memberLvl">
    <option value="1">Membership level 1</option>
    <option value="2">Membership level 2</option>
    <option value="3">Membership level 3</option>
  </select>
  <br><br>
  <input type="submit">
</form>