<script
  src="https://www.paypal.com/sdk/js?client-id=AeKbPtgoqX8lDTWbDhfwep5c2-5TTjVHhVsPFjVJms_mHUyGHFCbqGmkhesnGCwG6wjneDOnOI8YISGn"></script>

<div id="paypal-button-container"></div>


<script src="/admin/js/paypal.js"></script>

{{!-- 
{orderID: "2HH674165M448725N", payerID: "G5H6TDQAAH4E4"}
orderID: "2HH674165M448725N"
payerID: "G5H6TDQAAH4E4"
__proto__: Object


(index):43 
{create_time: "2019-12-05T07:13:32Z", update_time: "2019-12-05T07:13:45Z", id: "2HH674165M448725N", intent: "CAPTURE", status: "COMPLETED", …}
create_time: "2019-12-05T07:13:32Z"
id: "2HH674165M448725N"
intent: "CAPTURE"
links: [{…}]
payer: {email_address: "personal@project2.com", payer_id: "G5H6TDQAAH4E4", address: {…}, name: {…}}
purchase_units: [{…}]
status: "COMPLETED"
update_time: "2019-12-05T07:13:45Z"
__proto__: Object
 --}}